h1 {
  color: #62DBCA;
  font-style: italic;
  text-align: center;
}

h2 {
  color: #EA5B3D;
  font-style: italic;
  text-align: center;
}

body {
  background: #EEC5E1;
  font-family: sans-serif;
}

.come {
  border: 3px solid red;
  padding: 200px;
  margin: 10px;
  background-color: #23758E;
  height: 200px;
}

h3 {
  font-style: italic;
}

.favorite-sport {
  height: 200px;
  width: 20px;
}

.gamer {
  height: 350px;
  margin-left: 120px;
  margin-top: -200px;
}

.column {
  width: 700px;
  background-color: coral;
  height: 920px;
}

.grey {
  background-color: grey;
  float: left;
  margin-left: 100px;
}

p {
  font-size: 23px;
  color: white;
}

.favorite-sport {
  margin-top: -30px;
}
