h1 {
  color: #62DBCA;
  font-style: italic;
  text-align: center;
}

h2 {
  color: #EA5B3D;
  font-style: italic;
  text-align: center;
}

body {
  background: #EEC5E1;
  font-family: sans-serif;
}

.come {
  border: 3px solid red;
  padding: 40%;
  margin: 10px;
  background-color: #23758E
}

h3 {
  font-style: italic;
}

.favorite-sport {
  height: 80spx;
}

.gamer {
  height: 50spx;
}

img {
  float: right;
}

.sidebar {
  width: 30%;
  background-color: grey;
}

.column {
  width: 350px;
  float: left;
  background-color: coral;
}

.test-box {
  border: 3px solid blue;
}

.grey {
  background-color: grey
}
